@charset "utf-8";

#mySwipe {
    display: block;
    padding-top: 15px;
}
#mySwipe div span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 1px #EBEBEB;
    background: #fff;
    border-radius: 3px;
    line-height: 100px;
}
#mySwipe div span img {
    max-width: 40%;
    max-height: 72px;
    vertical-align: middle;
    margin: 0 10px;
}
/* Swipe 2 required styles */
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}
