
/* layout */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

html {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 960px;
  flex: 1;
}

.thin.wrap {
  max-width: 660px;
}

@media screen and (max-width: 599px) {
  .hide.at-thin {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .hide.at-wide {
    display: none;
  }
}

/* header */

#header {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  background: #424242;
}

#header .wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#header-image {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  #header-image {
    height: 267px;
    background: url("images/header.jpg") center no-repeat;
  }
  #mobile-header-image {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  #header-image {
    display: none;
  }
  #mobile-header-image img {
    width: 100%;
  }
}

#header-image:after {
  display: block;
  content: ".";
  background: #424242;
  height: 2px;
  width: 100%;
  position: relative;
  top: 267px;
}

#header nav {
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px;
  line-height: 3.3em;
}

#logo:hover {
  background: #151515;
}

#logo img {
  width: 90px;
}

/* footer */

#footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* events */

@media screen and (min-width: 600px) {
  #events {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 599px) {
  #events {
    display: flex;
    flex-direction: column;
  }
}

/* block */

.block .title {
  font-size: 24px;
  font-weight: 800;
  padding-bottom: .5em;
  color: #424242;
}

.block .content {
  font-size: 16px;
  line-height: 1.6em;
  color: #424242;
}

/* feature block */

.feature.block {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .feature.block {
    padding: 2.3em 4em;
    width: 50%;
  }
}

@media screen and (max-width: 599px) {
  .feature.block {
    padding: 0.8em 1.5em;
    width: 100%;
  }
}

.feature.block:hover,
.feature.block.hover {
  background: #ababab;
}

.feature.block:hover .title,
.feature.block.hover .title,
.feature.block:hover .content,
.feature.block.hover .content {
  color: #000;
}

.feature.block ul.menu {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.feature.block .menu li {
  list-style: none;
  display: inline;
}

.feature.block .menu li a {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0 0.6em;
  color: #fff;
  border-bottom: 3px solid transparent;
}

.feature.block .menu li a:hover {
  border-bottom: 3px solid #fff;
}

/* menu */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.menu {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
  display: inline;
}

.menu li a {
  display: inline-block;
  padding: 0 0.6em;
  line-height: 3.3em;
}

/* main menu */

#header .main.menu li a {
  font-size: 16px;
  color: #dbdbdb;
  border: none;
}

#header .main.menu li a:hover {
  background-color: #000;
  color: #fff;
  border: none;
}

@media screen and (min-width: 600px) {
  .index #header .main.menu {
    display: none;
  }
}

.main.menu li a {
  color: #424242;
  font-size: 18px;
  font-weight: 400;
  border: none;
}

@media screen and (max-width: 599px) {
  .main.menu li a {
    padding: 0 0.2em;
  }
}

.main.menu li a:hover {
  background-color: #424242;
  color: #00ff8b;
  border: none;
}

/* locale menu */

.locale.menu li a {
  font-size: 16px;
  color: #dbdbdb;
}

.locale.menu li a:hover {
  background-color: #000;
  color: #fff;
}

/* archive menu */

.archive.menu li a {
  color: #424242;
  border-bottom: 5px solid transparent;
}

.archive.menu li a:hover {
  color: #000;
  border-bottom: 5px solid #000;
}

/* content */

@media screen and (min-width: 960px) {
  #content {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  #content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (max-width: 599px) {
  #content {
    display: flex;
    flex-direction: column;
  }
}

/* main content */

.main.content {
  order: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #424242;
  font-size: 18px;
  line-height: 1.8em;
}

.main.content h1 {
  line-height: 2.4em;
}

.main.content h2 {
  text-align: center;
  font-size: 32px;
}

.main.content a {
  color: #3b9838;
  border-bottom: 1px solid transparent;
}

.main.content a:hover {
  border-bottom: 1px dashed #3b9838;
}

/* features */

#features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* asides */

aside.left, aside.right {
  width: 150px;
}

aside.left {
  order: 1;
}

aside.right {
  order: 3;
}

.aside .title {
  margin-top: 0.7em;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.8em;
}

.aside a {
  color: #3b9838;
  border-bottom: 1px solid transparent;
}

.aside a:hover {
  border-bottom: 1px dashed #3b9838;
}
